@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #15431a;
    --dark-green: #10251210;
    --beige: #d1c898;
    --brown: #513a0f;  
    --white: #f7f6f3;
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Parisienne', cursive;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*menu*/
.nav-bar {
    width: 100%;
    height: 15vh;
    background-color: var(--dark-green);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 5vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.logo {
    font-size: 8vh;
    font-weight: 500;
    color: var(--beige);
    font-family: 'Parisienne', cursive;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin: 0 4vw;
}

.menu-item {
    font-size: 1.5vw;
    color: var(--beige);
}

.nav-menu-btn {
    color: var(--brown);
}


.btn {
    background-color: var(--beige);
    color: var(--brown);
    font-size: 0.8em;
    font-weight: 400;
    padding: 0.5vw 1.5vw;
    border-radius: 15px;
    transition: 0.5s;
    text-transform: uppercase;
}

#menu-btn {
    font-size: 5vh;
    cursor: pointer;
    position: absolute;
    right: 4vh;
    color: var(--beige);
    margin-top: 8vh;
    display: none;
}

/*.active-scroll {
    background-color: var(--blue);
} */

/*menu*/

/*HEADER*/

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 8), rgba(0, 0, 0, 0)), url(../images/malte-michels-s4wGZw3UuLk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    text-align: center;
}

.hero-title {
    margin: 3vw 0;
    font-size: 6vmin;
    font-weight: 400;
}

.hero-text {
    font-size: 4vw;
    font-weight: 300;
    margin: 3vh auto 6vh;
}

.btn:hover {
    background-color: var(--white);
}

/*HEADER*/

/*MAIN*/
.main {
    width: 80%;
    height: 90vh;
    display: flex;
    margin: 8vh auto;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.main-content {
    width: 90%;
    text-align: center;
}

.main-content h3 {
    font-size: 4vmin;
    font-weight: 500;
}

.main-content p {
    font-size: 3vmin;
    padding: 4vh;
}

.main-images {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main-images img {
    width: 100%;
    margin: 0.5vw;
    border-radius: 5px;
}

.main-images img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s;
}

/*MAIN*/